<!--HEADER-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b69fc87384d967f73ccfbcffb2995a83";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<div class="header">
    <div class="logo"> <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logo.png" alt=""></a> </div>
    <div class="cssmenu">
        <ul>
            <li><a href="{{ site.baseurl }}/index.html">HOME</a></li>       
            <li><a href="/blog/">BLOG</a></li>
            <li><a href="/lab/">LAB</a></li>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="http://hellowii.github.io">git</a></li>
        </ul>
    </div>
    <div class="top-nav">
        <nav class="clearfix">
            <ul>
                <li><a href="{{ site.baseurl }}/index.html">HOME</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a href="/lab/">LAB</a></li>
                <li><a href="/about/">ABOUT</a></li>
                <li><a href="http://hellowii.github.io/cv/">git</a></li>
            </ul>
        <a href="#" id="pull">MENU</a> 
        </nav>
    </div>
</div>
